extends layout-customer

block head

block content
	h1.page-header Dashboard
	h2.sub-header Haushalte
	
	table.table.table-striped
		each household in households
			tr
				td
					a.btn.btn-primary(href='/household/' + household.id)= household.name + " » "
						span.badge(id='household'+ household.id + 'new') Neu
				td
					if household.role === 'founder'
						span &#9733;
				td= household.members
				td
					a.disabled.pull-right.btn.btn-danger(href='/household/leave?id=' + household.id)
						span(aria-hidden='true') &times;
						span.sr-only Verlassen

	p &#9733; = Gründer
					
	form(method='POST', action='/household/create')
		input(type='hidden', name='_csrf', value=_csrf)
		div.input-group
			input.form-control(type='text', placeholder='Name, z.B. Wohnung in München', name='name', required='required')
			span.input-group-btn
				input.btn.btn-primary(type='submit', value='Gründen')