extends layout-home

block head

block content
	div.row
		br
	div.row
		div.col-md-8
			hr
			h1 Der WG-Planner
			h4 
				|Sie tätigen öfters Gruppeneinkäufe für die Firma, Freunde oder Familie. 
				|Wollen einen Überblick über die Einkäufe Ihrer Gruppe behalten. 
				|Planen die Kosten Ihrer Wohngemeinschaft.
	div.row
			div.col-md-4
				hr
				h2 Schnell und Einfach
				p
					|Sparen Sie sich lästiges Kopfrechnen. 
					|Ihre Einkäufe werden sofort mit der Gruppe geteilt 
					|und schon nach jeder Eingabe berechnet. 
					|Behalten Sie den Überblick durch unsere übersichtliche Gestaltung.
			div.col-md-4
				hr
				h2 Dashboard
				p
					|Durch eine speziell entworfene Übersicht behalten Sie immer den 
					|Überblick über Ihre Einkaufslisten.
			div.col-md-4
				hr
				h2 Jetzt neu
				p
					|Kassenzettel einscannen und Zeit sparen.
					|Dank Texterkennung brauchen Sie nicht jeden einzelnen
					|Artikel eintragen sondern nur ein Foto Ihres Kassenzettels
					|hochladen.