extends layout-home
block head
	

block content
	div.container
		div.page-header
			h2 Impressum
		p
			b
				Angaben gemäß § 5 TMG:
		p(style='white-space:pre;')
			| Fabian Schurig
			| Am Schützeneck 2
			| 82194 Gröbenzell
		p(style='white-space:pre;')
			b
				| Kontakt:
			br
			| Fabian Schurig
			| Telefon: +4915255930099
		p(style='white-space:pre;')
			| Hans Kirchner
			| Telefon: +491606445291
