extends layout-home
block head
	

block content
	div.container
		div.page-header
			h2 Impressum
			b Angaben gemäß § 5 TMG:
			p
				br
				| Fabian Schurig
				br
				| Am Schützeneck 2
				br
				| 82194 Gröbenzell
			b Kontakt:
			p
				br
				| Fabian Schurig
				br
				| Telefon: +4915255930099
			p
				br
				| Hans Kirchner
				br
				| +491606445291