doctype html
html
	include inc/head
	body
		header
			p= personName
			a(href='/dashboard') Dein Account
			form(method='post', action='/logout')
				input(type='hidden', name='_csrf', value=_csrf)
				input(type='submit', value='Logout')
		block content