doctype html
html(lang='de')
	head
		include inc/head
		style
			|body, html, header {height: 100%;}
	body
		input(type='hidden', value=_csrf, id='_csrf')
		
		noscript
			div#noscript-padding
		header
			nav(class='navbar navbar-default navbar-fixed-top' role='navigation')
				div.container-fluid
					div.navbar-header
						button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class='navbar-brand' href='#') Wg-Planner
					div.collapse.navbar-collapse
						ul(class='nav navbar-nav')
							li
								a(href='/') Home
								
						div(class='navbar-form navbar-right')
							a(href='/register')
								button(class='btn btn-primary' type='') Registrieren
												
						
						if !doNotShowNavbarLogin
							div(class='nav-login', id='nav-login', ng-app='login', ng-controller='LoginController as login')
								form(class='navbar-form navbar-right' role='login' name='loginForm')
									div.form-group
										input(class='form-control', type='email', required='required', ng-model='login.email', name='email', ng-pattern='/^[^@]+@[^@]+\\.[^\\.@]+$/', spellcheck='false', placeholder='jemand@example.com')
									div.form-group
										input(class='form-control', type='password', required='required', ng-model='login.password', name='password', placeholder='Kennwort')
									div.form-group
										input(class='form-control', type='hidden', name='persistent', ng-model='login.persistent', value='1')
									div.form-group
										input(class='form-control', class='btn btn-primary' type='submit', ng-click='doLogin()', ng-disabled='loginForm.$invalid', value='Anmelden')
			div.fill(style="background-image:url('/img/home.jpg');")
				div.home-caption
					h1 Behalte den Überblick.
					p 
						|Melden Sie sich noch heute kostenlos an und genießen Sie die Vorteile einer gemeinsamen Onlineplanung.
		div.container
			div.fail-popups#fail-popups
				div.alert.alert-danger.centered(role='alert')
					b 
						|JavaScript ist deaktiviert! 
					|Bitte aktivieren Sie JavaScript.
			noscript
				div#noscript-warning
					|Diese Seite funktioniert am Besten mit JavaScript
		div.container
			block content
			hr
			div.row
				div.footer
					p.text-muted.centered Copyright (c) 2016 Bitfröst Studios 
						a(href='imprint') Impressum
						| 
						a(href='privacy') Datenschutzerklärung
						| 
						a(href='policies') Nutzungsbedingungen
		script(type="application/javascript")
			|function fpDisplay(visibility) {
			|	document.getElementById('fail-popups').style.display= visibility;
			|};
			|fpDisplay("none");
		include inc/foot
		
