doctype html
html
	include inc/head
	body
		header
			nav(class='navbar navbar-default' role='navigation')
				div.container-fluid
					div.navbar-header
						button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class='navbar-brand' href='#') Wg-Planner
					div(class='collapse navbar-collapse' id='bs-example-navbar-collapse-1')
						ul(class='nav navbar-nav')
							li
								a(href='') Link
								
						div(class='navbar-form navbar-right')
							a(href='/register')
								button(class='btn btn-default' type='') Registrieren
												
						
						div(class='nav-login', id='nav-login')
							form(class='navbar-form navbar-right' role='login' name='login', action='/login', method='post')
									div.form-group
										input(class='form-control', type='hidden', name='_csrf', value=_csrf)
									div.form-group
										input(class='form-control', type='email', required='required', id='email', name='email',spellcheck='false', placeholder='jemand@example.com')
									div.form-group
										input(class='form-control', type='password', required='required', id='password', name='password', placeholder='Kennwort')
									div.form-group
										input(class='form-control', type='hidden', name='persistent', id='persistent', value='1')
									div.form-group
										input(class='form-control', class='btn btn-default' type='submit', value='Anmelden')
						
						script(type="application/javascript")
							|function loginDisplay() {
							|	var path = window.location.pathname;
							|	if (path == '/login') {
							|		document.getElementById('nav-login').style.display= "none";
							|}};
							|loginDisplay();
		block content
		include inc/foot