extends layout-home

block head

block content
	input(type='hidden', value=_csrf, id='_csrf')

	div.container
		div(ng-app='login', ng-controller='LoginController as login')
			form(class='form-signin' name='loginForm')
				h2.form-signin-heading Jetzt Anmelden.
				//label(for='email', id='label_email') E-Mail
				input.form-control(type='email', required='required', ng-model='login.email', ng-pattern='/^[^@]+@[^@]+\\.[^\\.@]+$/', name='email',spellcheck='false', placeholder='jemand@example.com', autofocus)
				//label(for='password') Passwort
				input.form-control(type='password', required='required', ng-model='login.password', name='password', placeholder='Kennwort')
				div.checkbox
					label
						input(type='checkbox', name='persistent', ng-model='login.persistent', value='1') 
						span Angemeldet bleiben
				input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Anmelden', ng-click='doLogin()', ng-disabled='loginForm.$invalid')
				p.underline Noch nicht angemeldet? 
					a(href='register') Jetzt Registrieren!

