extends layout-home
block head

block content
	p Main
	#groups.groups
		each group in []
			#group.group_cs
				div.group_main
					span#group.id group.name
					span group.date
				each username in []	
					div.group_user
						span#name.id group.username
				div.add_user
					span Nutzer hinzufügen
			
	#lists.lists
		each list in []
			#list.list
				div.list_main
					span#list.id list.name
					span list.location
					span list.date
					span list.buyer
					span list.price
				each item in []
					div.list_items
						span#item.id item.name
						span item.owner
						span item.price
				div.add_item
					span Item hinzufügen