extends layout-home

block head
	

block content
	h1 Header
	form(name='register', action='/register', method='post')
		label(for='email') E-Mail
		input(type='text', id='email', name='email')
		label(for='password') Passwort
		input(type='password', id='password', name='password')
		input(type='submit', value='Registrieren')