extends layout-home

block head
	

block content
	p Richten Sie Ihr kostenloses Konto ein.
	form(name='register', action='/register', method='post')
		input(type='hidden', name='_csrf', value=_csrf)
		label(for='name') Benutzername
		input(type='text', required='required', id='user', name='user', placeholder='User1234')
		label(for='email') E-Mail
		input(type='email', required='required', id='email', name='email', value='', spellcheck='false', placeholder='jemand@example.com')
		label(for='password') Passwort
		input(type='password', required='required', id='password', name='password', value='', placeholder='Kennwort')
		input(type='submit', value='Registrieren')
	if errors
		each error in errors
			p= error.msg