extends layout-customer

block head

block content
	h1.page-header Einstellungen
	h2.sub-header Mein Account
	
	input(type='hidden', value=_csrf, id='_csrf')
	
	div(ng-app='account', ng-controller='AccountController as acc')
	
		table.table.table-striped
			thead
				tr
					td Anzeige-Name
					td
						div.input-group
							input.form-control(type='text', name='name', value='{{person.name}}')
							span.input-group-btn
								button.btn.btn-primary(ng-click='setName()')= 'Aktualisieren'
			tbody
				tr
					td Mail-Adresse
					td {{person.email}}
				tr
					td Status
					td {{({customer:'Standard-Account', admin:'Admin'})[person.role]}}

		table.table.table-striped
			tr
				td Aktuelles Passwort
				td
					input.form-control(type='password', name='password_old')
			tr
				td Neues Passwort
				td
					input.form-control(type='password', name='password')
			tr
				td Neues Passwort bestätigen
				td
					input.form-control(type='password', name='password_confirm')
		button.btn.btn-success.pull-right(ng-click='changePassword()')= 'Passwort ändern'
