extends layout-home

block head
	

block content
	h1 Header
	form(name='login', action='/login', method='post')
		label(for='email') E-Mail
		input(type='text', id='email', name='email')
		label(for='password') Passwort
		input(type='password', id='password', name='password')
		input(type='checkbox', name='persistent', id='persistent', value='true')
		label(for='persistent') Angemeldet bleiben
		input(type='submit', value='Anmelden')