extends layout-home

block head
	

block content
	div.container
		h2.register-heading Richten Sie Ihr kostenloses Konto ein.
		form(class='form-register' name='register', action='/register', method='post')
			input(type='hidden', name='_csrf', value=_csrf)
			label(for='name') Benutzername
			input(class='form-control' type='text', required='required', id='name', name='name', placeholder='User1234', autofocus)
			label(for='email') E-Mail
			input(class='form-control' type='email', required='required', id='email', name='email', value='', spellcheck='false', placeholder='jemand@example.com')
			label(for='password') Passwort
			input(class='form-control' type='password', required='required', pattern='.{6,40}', title='Passwort mit mindestens 6 Zeichen.', id='password', name='password', value='', placeholder='Kennwort')
			div.checkbox
				label
					input(type='checkbox', name='terms', value='1', required='required') 
					p Sie haben die 
						a(href='policies') Nutzungsbedingungen 
						|und 
						a(href='privacy') Datenschutzerklärung 
						| gelesen und akzeptieren diese.
			input(class='btn btn-lg btn-primary btn-block' type='submit', value='Registrieren')
			p.underline Sie haben bereits ein Konto? 
				a(href='login') Jetzt Anmelden!
	if errors
		each error in errors
			p= error.msg
